@charset 'utf-8';

@import "components/variable";
@import "components/font";
@import "components/animation";

@import 'components/base';

@import 'components/markdown';
@import 'components/highlight';
@import 'components/kramdown';

:root:lang(zh-Hans),
html:lang(zh-Hans) {
  height: 100%;
  font-family: $aeon-font-latin-serif, $aeon-font-serif, serif;
  text-align: justify;
  color: $dark-1;
  background: $white;
  overflow: hidden;
}

body {
  position: relative;
  height: 100%;
  perspective: 3px;
  transform-style: preserve-3d;
  transform-origin: center center;
  overflow-y: scroll;
  overflow-x: hidden;
}

::selection {
  background: $light-2;
}

a {
  text-decoration: underline;
  color: $dark-2;
  &:hover,
  &:active {
    // background: $gray;
    color: $black;
  }
}

img {
  display: block;
  max-width: 100%;
}

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: $gray;
  // padding: 5px 3px 2px 5px;
  vertical-align: text-bottom;
  color: $gray;
}



#nprogress .bar {
  background: $highlight !important;
}
#nprogress .peg {
  box-shadow: 0 0 10px $highlight, 0 0 5px $highlight !important;
}
#nprogress .spinner-icon {
  border-top-color: $highlight !important;
  border-left-color: $highlight !important;
}


// ---------------------------------------------------------------
// Extension
// ---------------------------------------------------------------
.extension {
  iframe {
    display: block;
    margin: 0 auto;
    border: none;
  }
  .embed-soundcloud iframe {
    width: 100%;
    height: 200px;
  }
  .embed-video iframe {
    width: 100%;
    height: 412px;
  }
  .embed-bilibili iframe {
    height: 528px;
  }
}

// ---------------------------------------------------------------
// Dark Mode
// ---------------------------------------------------------------
@media (prefers-color-scheme: dark) {
  :root:lang(zh-Hans),
  html:lang(zh-Hans) {
    background: $black;
    color: $gray;
  }

  ::selection {
    background: $gray;
    color: $light-3;
  }

  a {
    color: $gray;
    &:hover,
    &:active {
      color: $light-3;
    }
  }

  .info,
  .success,
  .warning,
  .error,
  .tips,
  .todo {
    // border: none;
    background: inherit;
  }

  .info {
    border-color: $blue-dark;
  }
  .success {
    border-color: $green-dark;
  }
  .warning {
    border-color: $yellow-dark;
  }
  .error {
    border-color: $red-dark;
  }
  .tips {
    border-color: $gray;
    &:before {
      color: $gray;
    }
  }
  .todo {
    border-color: $orange-dark;
    &:before {
      color: $orange-dark;
    }
  }

  
}

.mermaid {
	margin: 0 21px;
}
