@charset 'utf-8';

@import './variable.scss';
@import './animation.scss';

// ---------------------------------------------------------------
// Font
// ---------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC:200,300,400,500,600,700,900|Noto+Serif+TC:200,300,400,500,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC:200,300,400,500,600,700,900|Noto+Sans+TC:200,300,400,500,600,700,900&display=swap');

// 源流明體
@font-face {
  font-family: '源流明體';
  src: url('../assets/fonts/源流明體/GenRyuMinTW-ExtraLight.ttf');
  font-weight: 200;
}
@font-face {
  font-family: '源流明體';
  src: url('../assets/fonts/源流明體/GenRyuMinTW-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: '源流明體';
  src: url('../assets/fonts/源流明體/GenRyuMinTW-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: '源流明體';
  src: url('../assets/fonts/源流明體/GenRyuMinTW-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: '源流明體';
  src: url('../assets/fonts/源流明體/GenRyuMinTW-SemiBold.ttf');
  font-weight: 400;
}
@font-face {
  font-family: '源流明體';
  src: url('../assets/fonts/源流明體/GenRyuMinTW-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: '源流明體';
  src: url('../assets/fonts/源流明體/GenRyuMinTW-Heavy.ttf');
  font-weight: 900;
}

$aeon-font-sans: 'Noto Sans TC', 'Noto Sans SC', system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica Neue, Arial;
$aeon-font-serif: '源流明體', 'Noto Serif TC', 'Noto Serif SC';
$aeon-font-mono: Source Code Pro, PT Mono, Monaco, menlo, 'Courier New', Courier, monospace;
$aeon-font-latin-sans: Avenir Next, Helvetica Neue, Lato, Arial;
$aeon-font-latin-serif: Charter, Palatino, Athelas, Iowan, Georgia, 'Times New Roman', Times;
$aeon-font-emoji: 'Apple Color Emoji', 'Segoe UI Emoji';

// $aeon-font-hans: Biaodian Pro Serif CNS,Numeral LF Serif,MOEDICT,Fira Sans OT,Georgia,Times New Roman,Zhuyin Kaiti,TW-Sung-98_1,教育部標準宋體,MOESongUN,全字庫正宋體,Songti TC,宋體-繁,Lisong Pro,儷宋 pro,文鼎ＰＬ新宋,cwtex 仿宋體,PMingLiU,MingLiU,serif,HanaMinA,HanaMinB,HAN NOM A,HAN NOM B,Han Songti CNS,serif;




// // Aeon Sans
// @font-face {
//   font-family: AeonSans;
//   src: local(Heiti TC),
//        local(Microsoft Jhenghei);
//   /* no unicode-range; default to all characters */
// }

// /* Latin characters 專用 */
// @font-face {
//   font-family: AeonSans; /* 同樣的 font-family */
//   unicode-range: U+00-024F;  /* Latin, Latin1 Sup., Ext-A, Ext-B */
//   src: local(Avenir Next),     /* OS X preferred */
//        local(Avenir),
//        local(Helvetica Neue),
//        local(Arial);         /* Other OS */
// }

// /* 注音符號專用 */
// @font-face {
//   font-family: AeonSans;      /* 同樣的 font-family */
//   unicode-range: U+3100-312F;     /* Bopomofo */
//   src: local(LiHei Pro),          /* OS X */
//        local(Microsoft Jhenghei); /* Windows Vista+ */
// }

// /* 日文假名專用 */
// @font-face {
//   font-family: AeonSans;            /* 同樣的 font-family */
//   unicode-range: U+3040-30FF;           /* Hiragana, Katakana */
//   src: local(Hiragino Kaku Gothic Pro), /* OS X */
//        local(Meiryo);                   /* Windows Vista+ */
// }

html, body {
	font-family: $aeon-font-latin-serif, $aeon-font-serif, serif;
	font-display: swap;
  color: $dark-1;
  // background: $black;
}

a, a:link {
  text-decoration: underline;
  color: $dark-2;
  &:hover, &:active {
    // background: $gray;
    color: $black;
  }
}

img {
	display: block;
	max-width: 100%;
}

// ---------------------------------------------------------------
// Kramdown
// ---------------------------------------------------------------
.shadow-it {
	box-shadow: 0 1px 2px rgba(46,41,51,.08), 0 2px 4px rgba(71,63,79,.08);
}
.round-it {
	border-radius: 100%;
}
.info, .success, .warning, .error, .tips, .todo {
	padding: 21px;
	border: 1px solid $gray;
	border-radius: 4px;
	font-family: $aeon-font-latin-sans, $aeon-font-sans, sans-serif, $aeon-font-emoji;
}
.info {
	background: lighten($color: $blue, $amount: 40%);
	border-color: $blue;
}
.success {
	background: lighten($color: $green, $amount: 40%);
	border-color: $green;
}
.warning {
	background: lighten($color: $yellow, $amount: 40%);
	border-color: $yellow;
}
.error {
	background: lighten($color: $red, $amount: 40%);
	border-color: $red;
}
.tips {
	background: $light-1;
	border-color: $gray;
	&:before {
		content: '⚠︎';
		margin-right: 16px;
		color: $gray;
	}
}
.todo {
	background: lighten($color: $orange, $amount: 40%);
	border-color: $orange;
	&:before {
		content: '⚑';
		margin: 0 16px 0 6px;
		color: $orange;
	}
}

#nprogress .bar {
	background: $highlight!important;
}

#wrapper {
  width: 100vw;
  max-width: 100vw;
}

// ---------------------------------------------------------------
// Header
// ---------------------------------------------------------------
header#header {
  nav#nav {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		width: 732px;
		margin: 0 auto;

    .nav-info {
      h1 {
        a.title {
          font-size: 42px;
					font-weight: 900;
					text-decoration: none;
          text-shadow: 0 1px 1px rgba(0, 0, 0, .08);
          color: $black;
          
          &:hover, &:active {
						color: $highlight;
            // text-decoration: underline;
          }
        }
      }
    }
    .nav-bar ul {
      display: flex;
      list-style: none;
      li {
				margin: 0 5px;
				a {
					text-decoration: none;
					font-weight: 600;
				}
      }
    }
  }
}

#content {
  display: block;
  position: relative;
  padding: 21px 0;
  width: 70vw;
  max-width: 732px;
  // margin: 50px auto 0 15vw;
  margin: 50px auto 0;
  border-radius: 20px;
  background: $white;
  backdrop-filter: blur(20px);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 40px;
}


// ---------------------------------------------------------------
// Post
// ---------------------------------------------------------------
div.post {
	.post-footer {
		padding: 30px 0;
	}

	h1.post-title {
		margin: 21px 21px 12px;
		font-family: $aeon-font-latin-sans, $aeon-font-sans, sans-serif, $aeon-font-emoji;
		color: $black;
		text-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	}

	.post-note {
		margin-bottom: 42px;
		padding: 30px 21px 21px;
		text-align: center;
		font-family: $aeon-font-latin-sans, $aeon-font-sans, sans-serif;
		background: $light-1;
		p {
			margin: 0 0 21px;
			font-weight: 200;
			strong, a {
				font-weight: 500;
			}
		}
	}
	
	.post-meta {
		// display: grid;
		// grid-template-columns: repeat(2, 50%);
		margin: 12px 21px;
		// font-style: italic;
		time.published {
			// grid-column-start: 1;
			// grid-column-end: 3;
			font-family: $aeon-font-latin-sans, $aeon-font-sans, sans-serif;
			color: $gray;
		}
		.category, .tag {
			margin-top: 12px;
			color: $gray;
			a {
				margin-right: 12px;
				font-family: $aeon-font-latin-sans, $aeon-font-sans, sans-serif;
				color: $gray;
				&:hover, &:active {
					color: $highlight;
					background: transparent;
				}
			}
		}
	}
	
	// article.han-init-context {
	//   padding: 0 21px;
	// }
	
	.pagination {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 21px;
		padding: 21px 0;
		border-top: 1px solid $light-1;
		a {
			padding: 21px 0;
			font-family: $aeon-font-latin-sans, $aeon-font-sans, sans-serif, $aeon-font-emoji;
			// font-weight: 00;
			text-decoration: none;
			&:hover, &:active {
				// background: $dark-0;
				strong {
					color: $black;
				}
				p {
					color: $highlight;
				}
			}
			
			p {
				font-weight: 200;
				margin: 10px 0 0;
			}
		}
		a.prev {
			text-align: left;
		}
		a.next {
			text-align: right;
		}
	}
}

// ---------------------------------------------------------------
// Markdown
// ---------------------------------------------------------------
article.han-init-context {
	
	strong {
    font-family: $aeon-font-latin-serif, $aeon-font-serif, serif;
		font-weight: 900;
	}

	em {
		font-style: italic;
	}

	s {
		text-decoration: none;
		color: $black;
		background-color: $black;

		&:hover {
			color: $white;
		}
		a {
			color: $black;
		}
		&:hover a {
			color: $white;
		}
	}

	> p, pre, figure.highlight, dl {
		margin: 0 21px 12px;
	}

	a {

  }

  ul, ol {
    margin: 0 21px 16px;
  }

	blockquote {
    position: relative;
		margin: 18px 21px 16px;
		padding-left: 15px;
		// border-radius: 4px;
		font-style: italic;
    word-wrap: break-word;
    // background: $light-1;
		border-left: 3px solid $gray;
	}

	> p > img {
		margin: 0 auto;
	}

	figure[data-type=image] {
		text-align: center;
		margin: 0 21px 12px;
		img {
			border-radius: 4px;
			// box-shadow: 0 1px 2px rgba(46,41,51,.08), 0 2px 4px rgba(71,63,79,.08);
			// -webkit-transition: all .25s cubic-bezier(.4,0,.2,1);
			// transition: all .25s cubic-bezier(.4,0,.2,1);
			// &:hover {
			// 	box-shadow: 0 4px 8px rgba(46,41,51,.08), 0 8px 16px rgba(71,63,79,.16);
			// 	-webkit-transform: translateY(-5px);
			// 	transform: translateY(-5px);
			// }
		}
	}

	hr {
		width: 50%;
		margin: 30px auto;
		border: none;
		overflow: visible;
		&:after {
			content: '';
			display: block;
			border-top: 1px solid #F1F1F1;
			margin: 0 3px;
			position: relative;
			top: 1px;
		}
	}

	h1, h2, h3, h4, h5, h6 {
		display: flex;
		align-items: center;
		position: relative;
		padding-left: 21px;
		// font-family: $aeon-font-serif;
		font-weight: 700;

		a.header-anchor {
			// position: absolute;
			// left: -.35em;
			margin-right: 4px;
      font-family: $aeon-font-sans, $aeon-font-latin-sans, sans-serif;
      font-weight: 100;
			text-decoration: none;
			// color: $gray;
      color: $gray;
			transform: scale(0.8);
			// opacity: 0.85;
			// transition: opacity .2s ease-in-out;
		}
		&:hover a.header-anchor, a.header-anchor:hover {
			color: $black;
		}
	}

	h1 {
		margin: 21px 0 12px;
		font-size: 32px;
		// font-size: 2em;
	}
	h2 {
		margin: 21px 0 9px;
		font-size: 28px;
		// font-size: 1.5em;
	}
	h3 {
		margin: 18px 0 9px;
		font-size: 24px;
		// font-size: 1.17em;
	}
	h4 {
		margin: 18px 0 7px;
		font-size: 20px;
		// font-size: 1em;
	}
	h5 {
		margin: 15px 0 7px;
		font-size: 16px;
		// font-size: 0.83em;
	}
	h6 {
		margin: 15px 0 4px;
		font-size: 12px;
		// font-size: 0.67em;
	}



	// ol, ul {
	// 	box-sizing: border-box;
	// 	margin: 0 21px;
	// 	padding: 0 21px;
	// }

	// ul {
	// 	// list-style: none;
	// }

	table {
		width: 100%;
		max-width: 100%;
		margin: 0 auto 12px;
		border-collapse: collapse;

		thead {
			background: $light-1;
		}
		thead, tbody {
			th, td {
				padding: 3px 5px;
				// border: 1px solid $aeon-blue;
			}
			th {
				// color: $aeon-blue;
				font-weight: 700;
				border-bottom: 2px solid $gray;
			}
			td {
				border-top: 1px solid $gray;
			}
		}
	}

	// ---------------------------------------------------------------
	// Code
	// ---------------------------------------------------------------
	> p > code {
		box-sizing: border-box;
		margin: 0 2px;
		padding: 2px 4px;
		// border: 1px solid $light-1;
		border-radius: 3px;
		background: $light-1;
		font-family: $aeon-font-mono;
		font-size: 0.9em;
		// color: ;
	}

  .saber-highlight {
    margin: 0 21px 12px;
    background: $light-1;
    &:before {
      font-family: $aeon-font-sans, $aeon-font-latin-sans, sans-serif;
    }

    .saber-highlight-mask {
      .highlighted {
        // background: rgba(3, 169, 244, 0.121);
        background: rgba($color: $light-4, $alpha: 0.15);
        box-shadow: inset 3px 0 0 0 $gray;
      }
    }
  }

	> pre {
		box-sizing: border-box;
		// padding: 0 8px;
		padding: 20px 24px;
		// border: 1px solid $aeon-blue;
		border-radius: 4px;
		background: $light-1;
		line-height: 1.5;
		
		> code {
			background: transparent;
			font-family: $aeon-font-mono;
		}
	}

	// figure.highlight {
	// 	line-height: 1.5;
	// 	table {
	// 		width: 100%;
	// 		border: 1px solid $aeon-blue;
	// 		border-radius: 3px;
	// 		background: $light-1;
	// 		pre {
	// 			margin: 0;
	// 		}
	// 		td.gutter {
	// 			width: 31px;
	// 			border-right: 1px solid $aeon-blue;
	// 			text-align: center;
	// 			pre {
	// 				color: $gray;
	// 			}
	// 		}
	// 		td.code {}
	// 	}
	// 	.hljs {
	// 		background: transparent;
	// 		font-family: $aeon-font-mono;
	// 	}
	// }

	// ---------------------------------------------------------------
	// Mark
	// ---------------------------------------------------------------

	mark {
		padding: 0 3px;
		background: $light-3;
	}

	// ---------------------------------------------------------------
	// Abbr
	// ---------------------------------------------------------------

	abbr {
		margin: 0 2px;
		padding: 0 3px;
		border: 1px dotted $gray;
		border-radius: 3px;
    font-family: $aeon-font-latin-sans, $aeon-font-sans, sans-serif;
		font-size: 0.9em;
		text-decoration: none;
		background: $light-1;
		cursor: pointer;
	}

	// ---------------------------------------------------------------
	// Definition List
	// ---------------------------------------------------------------
	dl {
		dt {
			font-weight: 700;
		}
		dd {
			pre {
				// border: 1px solid $aeon-blue;
				border-radius: 4px;
				background: $light-1;
			}
		}
	}

  // ---------------------------------------------------------------
	// Definition List
	// ---------------------------------------------------------------
  ul.contains-task-list {
    list-style: none;
    padding-left: 0;
    input.task-list-item-checkbox {
      margin-right: 2px;
    }
  }

  // ---------------------------------------------------------------
	// Footnote
	// ---------------------------------------------------------------
  section.footnotes {
    font-family: $aeon-font-latin-sans, $aeon-font-sans, sans-serif;
    strong {
			font-family: $aeon-font-latin-sans, $aeon-font-sans, sans-serif;
			font-weight: 700;
		}
		a.footnote-backref {
			color: $dark-2;
			&:hover {
				color: $black;
			}
		}
  }


	// ---------------------------------------------------------------
	// KBD
	// ---------------------------------------------------------------
	kbd {
		display: inline-block;
		margin: 0 1px;
		padding: 0 4px;
		border: 1px solid $light-3;
		border-bottom: 4px solid $light-3;
		border-radius: 2px 2px 4px 4px;
		font: 11px $aeon-font-mono;
		line-height: 1.4;
	}

}

// ---------------------------------------------------------------
// Footer
// ---------------------------------------------------------------
#footer {
  padding: 50px 0;
  text-align: center;
  font-family: $aeon-font-sans, $aeon-font-latin-sans, sans-serif, $aeon-font-emoji;
  font-weight: 300;
  font-size: 15px;
  color: $gray;

  .license {

    .license-link {
      font-weight: 500;
      img {
        margin-bottom: -1px;
      }
    }
  }

  .copyright {
    a.power, a.theme {
      margin-right: 2px;
    }
    a.power {
      // border-color:  #E9B439;
      color: #49828D;
      &:hover, &:active {
        // border-bottom-color: #49828D;
        // background: #49828D;
        color: #E9B439;
      }
      svg {
        margin-bottom: -2px;
      }
    }

    a.theme:hover, a.theme:active {
      color: $highlight;
    }
	}
	
	.contact {
		ul {
			display: flex;
			justify-content: center;
			align-items: baseline;
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				padding: 0 3px;
				a {
					color: $gray;
					&:hover, &:active {
						color: $black;
						background: transparent;
					}
				}
			}
		}
	}
}

// ---------------------------------------------------------------
// Dark Mode
// ---------------------------------------------------------------
@media (prefers-color-scheme: dark) {
  html, body {
    background: $black;
    color: $gray;
	}
	
	a, a:link {
		color: $gray;
		&:hover, &:active {
			color: $light-3;
		}
	}

	.info, .success, .warning, .error, .tips, .todo {
		// border: none;
		background: $dark-0;
	}
	
	.info {
		border-color: $blue-dark;
	}
	.success {
		border-color: $green-dark;
	}
	.warning {
		border-color: $yellow-dark;
	}
	.error {
		border-color: $red-dark;
	}
	.tips {
		border-color: $gray;
		&:before {
			content: '⚠︎';
			margin-right: 16px;
			color: $gray;
		}
	}
	.todo {
		border-color: $orange-dark;
		&:before {
			content: '⚑';
			margin-right: 16px;
			color: $orange-dark;
		}
	}

	header#header {
		nav#nav .nav-info h1 a.title {
			text-decoration: none;
			text-shadow: none;
			color: $gray;
		}
	}

	#content {
		background: $dark-0;
		box-shadow: none;
	}

	div.post {
		h1.post-title {
			color: $gray;
			text-shadow: none;
		}
	
		.post-note {
			background: $dark-1;
		}
		
		.pagination {
			border-top: 1px solid $dark-2;
			a:hover, a:active {
				strong {
					color: $light-3;
				}
			}
		}
	}

	article.han-init-context {
		s {
			text-decoration: none;
			color: $gray;
			background-color: $gray;
	
			&:hover {
				color: $dark-0;
			}
			a {
				color: $gray;
			}
			&:hover a {
				color: $dark-0;
			}
		}
	
		blockquote {
			border-left-color: $dark-2;
		}
	
		hr:after {
			border-top: 1px solid $dark-2;
		}
	
		h1, h2, h3, h4, h5, h6 {
			&:hover a.header-anchor, a.header-anchor:hover {
				color: $light-3;
			}
		}

		table {
			thead {
				background: $dark-1;
			}
			thead, tbody {
				th {
					border-bottom: 2px solid $dark-3;
				}
				td {
					border-top: 1px solid $dark-3;
				}
			}
		}

		> p > code {
			background: $dark-1;
		}
	
		.saber-highlight {
			background: $dark-1;
			.saber-highlight-mask {
				.highlighted {
					background: rgba($color: $gray, $alpha: 0.1);
				}
			}
		}
	
		> pre {
			background: $dark-1;
			
			> code {
				background: transparent;
			}
		}

		mark {
			color: $dark-0;
		}

		abbr {
			border: 1px dotted $dark-4;
			background: $dark-1;
		}

		dl dd pre {
			background: $dark-1;
		}

		section.footnotes {
			a.footnote-backref {
				color: $dark-4;
				&:hover {
					color: $light-4;
				}
			}
		}
		
		kbd {
			background: $dark-2;
			border: 1px solid $dark-2;
			border-bottom: 4px solid $dark-1;
		}
	}

	footer#footer .contact ul li a:hover,
	footer#footer .contact ul li a:active {
		color: $light-3;
	}
}
