@keyframes typing {
  from { width: 0; }
  to { width: 15em; }
}
@keyframes caret-blink {
  from, to { box-shadow: 1px 0 0 0 transparent; }
  50% { box-shadow: 1px 0 0 0; }
}


.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
}

.fade-leave {
  opacity: 1;
}

.fade-leave-active {
  opacity: 0;
}
