$highlight: #B69676;

$black: #11110F;
$dark-0: rgb(28, 28, 30);
$dark-1: rgb(44, 44, 46);
$dark-2: rgb(58, 58, 60);
$dark-3: rgb(72, 72, 74);
$dark-4: rgb(99, 99, 102);
$gray: rgb(142, 142, 147);
$light-4: rgb(174, 174, 178);
$light-3: rgb(199, 199, 204);
$light-2: rgb(229, 229, 234);
// $light-1: rgb(242, 242, 247);
$light-1: rgb(242, 242, 245);
$white: #F7F7F6;


$blue: rgb(0, 122, 255);
$blue-dark: rgb(10, 132, 255);
$green: #77C661;
$green-dark: #7BD061;
$indigo: #5857D1;
$indigo-dark: #5E5CE2;
$orange: #E69423;
$orange-dark: #E89E28;
$pink: #DC3155;
$pink-dark: #DC3A5E;
$purple: #9A53D9;
$purple-dark: #A85AEE;
$red: #DD3D34;
$red-dark: #DD473D;
$teal: #85C7F8;
$teal-dark: #8ED1FD;
$yellow: #F1CB30;
$yellow-dark: #F4D534;

$aeon-blue: #3B4894;
$aeon-yellow: #ffe7b0;
$aeon-green: #6dbaaf;
